# .npmignore
src/
# Configuration files
*.config.js
.eslintrc
.prettierrc

# Test files
tests/
test/
__tests__/
*.spec.js
*.test.js

# Documentation
docs/
builds/
public/
static/

# Miscellaneous
*.log
*.lock
/logs
yarn.lock
package-lock.json
*.tgz
