<article class="max-w-2xl px-6 py-24 mx-auto space-y-16 dark:bg-gray-800 dark:text-gray-50">
	<div class="w-full mx-auto space-y-4">
		<h1 class="text-5xl font-bold leading-none">{{title}}</h1>
		<div class="flex flex-wrap space-x-2 text-sm dark:text-gray-400">
			{{#tags}}
            <a rel="noopener noreferrer" href="{{link}}" target="{{target}}" class="p-1 hover:underline">{{name}}</a>

            {{/tags}}
		</div>
		<p class="text-sm dark:text-gray-400">by
			<a href="#" target="_blank" rel="noopener noreferrer" class="hover:underline dark:text-yellow-400">
				<span> {{author}} </span>
			</a>on
			<time datetime="2021-02-12 15:34:18-0200">{{date}}</time>
		</p>
	</div>
	<div class="dark:text-gray-100">
		<p>{{description}}.</p>
	</div>
</article>