<fieldset class="w-full space-y-1 dark:text-gray-100">
	<label for="url" class="block text-sm font-medium">{{title}}</label>
	<div class="flex">
		<span class="flex items-center px-3 pointer-events-none sm:text-sm rounded-l-md dark:bg-gray-700">{{hint}}</span>
		<input type="{{type}}" name="url" id="url" placeholder="{{placeholder}}" class="flex flex-1 border sm:text-sm rounded-r-md focus:ring-inset dark:border-gray-700 dark:text-gray-100 dark:bg-gray-800 focus:ring-yellow-400">
	</div>
</fieldset>