<nav aria-label="breadcrumb" class="w-full p-4 dark:bg-gray-800 dark:text-gray-100">
    <ol class="flex h-8 space-x-2 dark:text-gray-100">
        <li class="flex items-center">
            <a rel="noopener noreferrer" href="{{link}}" title="Back to homepage"
                class="flex items-center hover:underline">{{title}}</a>
        </li>
        {{#trail}}
        <li class="flex items-center space-x-1">
            <span class="dark:text-gray-400">/</span>
            <a rel="noopener noreferrer" href="{{link}}"
                class="flex items-center px-1 capitalize hover:underline">{{title}}</a>
        </li>
        {{/trail}}

    </ol>
</nav>