<footer class="px-4 py-8 dark:bg-gray-800 dark:text-gray-400">
	<div class="container flex flex-wrap items-center justify-center mx-auto space-y-4 sm:justify-between sm:space-y-0">
		<div class="flex flex-row pr-3 space-x-4 sm:space-x-8">
			<div class="flex items-center justify-center flex-shrink-0 w-12 h-12 rounded-full dark:bg-yellow-400">
                <!-- <div class="w-5 h-5 rounded-full dark:text-gray-900"> -->
                    <img class="rounded-full w-12 h-12 " src="{{imgUrl}}" alt="{{imgAlt}}">
                <!-- </div>  -->
			</div>
			<ul class="flex flex-wrap items-center space-x-4 sm:space-x-8">
                {{#links}}
				<li>
					<a rel="noopener noreferrer" href="{{link}}">{{title}}</a>
				</li>
				{{/links}}
			</ul>
		</div>
		<ul class="flex flex-wrap pl-3 space-x-4 sm:space-x-8">
            {{#social}}
			<li>
				<a rel="noopener noreferrer" href="{{link}}">{{title}}</a>
			</li>
            {{/social}}
		</ul>
	</div>
</footer>