<footer class="p-6 dark:bg-gray-800 dark:text-gray-100">
	<div class="container grid grid-cols-2 mx-auto gap-x-3 gap-y-8 sm:grid-cols-3 md:grid-cols-4">
		{{#columns}}
        <div class="flex flex-col space-y-4">
			<h2 class="font-medium">{{title}}</h2>
			<div class="flex flex-col space-y-2 text-sm dark:text-gray-400">
                {{#rows}}
				    <a rel="noopener noreferrer" href="{{link}}">{{title}}</a>
				{{/rows}}
			</div>
		</div>
        {{/columns}}
	</div>
	<div class="flex items-center justify-center px-6 pt-12 text-sm">
		<span class="dark:text-gray-400">{{note}}</span>
	</div>
</footer>